<div class="container" style="background-color: rgb(7, 211, 133); ">
    <% if(user){ %> 
        <div>
            <h1 style="color: rgb(6, 59, 19);">Bienvenido <%= user %> </h1>
            <% if (email == ""){ %>
            <p style="color:rgb(6, 59, 19)"> correo: <%= email %></p>
            <img src="<%= imagen %>" alt="">
                <% } %>
        </div>
        <div style="text-align: right;">
            <a href="/olvidar" class="btn btn-primary">deslogear</a>
        </div>

    <% } %> 
</div>